<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">

  <a class="navbar-brand px-3" routerLink="/list-filme">

      Dashboard

  </a>

  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">

    <span class="navbar-toggler-icon"></span>

  </button>

</header>

<!-- Sidebar navigation -->

<div class="container-fluid">

  <div class="row flex-nowrap">

    <nav id="sidebarMenu" class="col-md-2 d-md-block bg-primary sidebar collapse">

        <ul class="nav flex-column min-vh-100">

          <li class="nav-item">

            <a class="nav-link text-light" routerLink="/add-filme" routerLinkActive="active">

              Adicionar filme

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link active text-light" routerLink="/list-filme" routerLinkActive="active">

              Lista de filmes

            </a>

          </li>

        </ul>

    </nav>

    <!-- Main content -->

    <main class="col-md-10">

      <router-outlet></router-outlet>

    </main>

  </div>

</div>
